# Create File with Storm Indexes, Temperatures, and Pressures of All Stations

In [1]:
import storm_indices as si
import pandas as pd

In [2]:
TP = pd.read_csv('../Data/scottbase/scottbase.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['Mean Temperature [Deg C]', 'Mean sea level pressure [Hpa]']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'Mean Temperature [Deg C]', 'Mean sea level pressure [Hpa]', 'SI')
TP = TP.rename(columns={'Mean Temperature [Deg C]': 'SB_T', 'Mean sea level pressure [Hpa]': 'SB_P', 'SI': 'SB_SI'})
SB = TP.copy()

TP = pd.read_csv('../Data/marblepoint/marblepoint.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature', 'pressure']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature', 'pressure', 'SI')
TP = TP.rename(columns={'temperature': 'MP_T', 'pressure': 'MP_P', 'SI': 'MP_SI'})
MP = TP.copy()

TP = pd.read_csv('../Data/capebird/capebird.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature', 'pressure']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature', 'pressure', 'SI')
TP = TP.rename(columns={'temperature': 'CB_T', 'pressure': 'CB_P', 'SI': 'CB_SI'})
CB = TP.copy()

TP = pd.read_csv('../Data/margaret/margaret.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature', 'pressure']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature', 'pressure', 'SI')
TP = TP.rename(columns={'temperature': 'MR_T', 'pressure': 'MR_P', 'SI': 'MR_SI'})
MR = TP.copy()

TP = pd.read_csv('../Data/vito/vito.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature', 'pressure']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature', 'pressure', 'SI')
TP = TP.rename(columns={'temperature': 'VT_T', 'pressure': 'VT_P', 'SI': 'VT_SI'})
VT = TP.copy()

TP = pd.read_csv('../Data/ferrell/ferrell.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature', 'pressure']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature', 'pressure', 'SI')
TP = TP.rename(columns={'temperature': 'FR_T', 'pressure': 'FR_P', 'SI': 'FR_SI'})
FR = TP.copy()

TP = pd.read_csv('../Data/manuela/manuela.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature', 'pressure']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature', 'pressure', 'SI')
TP = TP.rename(columns={'temperature': 'MN_T', 'pressure': 'MN_P', 'SI': 'MN_SI'})
MN = TP.copy()

TP = pd.read_csv('../Data/alessandra/alessandra.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature_C', 'pressure_hPa']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature_C', 'pressure_hPa', 'SI')
TP = TP.rename(columns={'temperature_C': 'AL_T', 'pressure_hPa': 'AL_P', 'SI': 'AL_SI'})
AL = TP.copy()

TP = pd.read_csv('../Data/silvia/silvia.csv')
TP['DateTime'] = pd.to_datetime(TP['DateTime'],format='%Y-%m-%d')
TP.index = TP['DateTime']
del TP['DateTime']
TP = TP[['temperature_C', 'pressure_hPa']]
TP = TP[~TP.index.isna()]
TP = si.compute_si(TP, 'temperature_C', 'pressure_hPa', 'SI')
TP = TP.rename(columns={'temperature_C': 'SV_T', 'pressure_hPa': 'SV_P', 'SI': 'SV_SI'})
SV = TP.copy()

In [3]:
df = pd.concat([SB, MP, CB, MR, VT, FR, MN, AL, SV], axis=1)
df = df.sort_index() # just to make sure
df = df.loc[:'2024-12-31']
df

,SB_T,SB_P,SB_SI,MP_T,MP_P,MP_SI,CB_T,CB_P,CB_SI,MR_T,...,FR_SI,MN_T,MN_P,MN_SI,AL_T,AL_P,AL_SI,SV_T,SV_P,SV_SI
DateTime,,,,,,,,,,,,,,,,,,,,,
1964-09-30,NaN,1005.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964-10-01,-24.6,997.6,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964-10-02,-25.8,997.4,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964-10-03,-28.3,989.1,0.300536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964-10-04,-26.2,976.2,0.300536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,-3.4,989.1,0.000000,-2.278261,974.737500,0.005372,-2.845833,983.720833,0.004034,-6.939130,...,0.000127,-0.408696,979.004167,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-28,-4.7,993.9,0.000000,-3.217391,977.400000,0.005372,-3.654167,986.000000,0.004034,-8.225000,...,0.000127,-0.808333,979.704167,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-29,-2.9,989.5,0.000000,-1.550000,977.254167,0.000000,-3.666667,987.208333,0.000000,-6.395833,...,0.000000,-0.450000,981.862500,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-30,-1.2,985.8,0.000000,-0.305263,971.266667,0.000000,-2.212500,980.312500,0.000000,-7.337500,...,0.008484,-0.737500,975.108333,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-31,-0.9,989.3,0.000000,2.204545,973.150000,0.000000,-1.429167,983.837500,0.000000,-6.750000,...,0.012726,0.170833,978.095833,0.0,NaN,NaN,NaN,NaN,NaN,NaN